.blog{
    &Detail{
    &__sub{
        &.topSpacing{
    @include media-breakpoint-up(xl) {
    margin-top:4rem;
    } 
    @include media-breakpoint-between(md,xl) {
        margin-top:3rem;
    } 
    @include media-breakpoint-down(md) {
        margin-top:2rem;
    }  
    }
    & > .container{
        @include media-breakpoint-up(xl) {
        padding-left:4rem;
        padding-right:4rem;
        } 
        @include media-breakpoint-between(md,xl) {
            padding-left:2rem;
            padding-right:2rem;
        }   
        }
&-left{
    @include media-breakpoint-down(lg) {
margin-bottom:1.5rem;
    }     
& > h5{
font-size:1rem;
font-family: 'Khula-Bold', sans-serif;
color:$color-f4782e;
}
& > h2{
font-family: 'Khula-Bold', sans-serif;   
@include media-breakpoint-up(xl) {
font-size:2.5rem;
} 
@include media-breakpoint-between(md,xl) {
font-size:2.125rem;
} 
@include media-breakpoint-down(md) {
font-size:1.75rem;
} 
}
.postlabel{
font-size: 0.85em;
color: #999;
}
.postBy{
display:flex;
align-items: center;
margin-top:1.5rem;
.img{
    margin-right:0.75rem;
    & > img{
max-width:50px;
border-radius: 50%;
}
}
.author{
font-size:0.9rem;
}
}
}
&-right{
& > img{
max-width:100%;
}
}
.owl{
    &-carousel{
.item{
padding:0 0.5rem;
}
}
&-nav{
    position: absolute;
    right: 10px;
    @include media-breakpoint-up(lg) {
    top: -60px;
    }
    @include media-breakpoint-between(md,lg) {
    top: -145px;
    }
    @include media-breakpoint-down(md){
        top: -40px;
    }
    
    & > button{
        &.owl-next{
        margin-left: 1rem;
        }
        &.owl-next,&.owl-prev{
        border: 1px solid #bad2de;
    
        @include media-breakpoint-up(md) {
            height: 40px;
            width: 40px;
            border-radius: 20px;
        }
        @include media-breakpoint-down(md) {
            height: 35px;
            width: 35px;
            border-radius: 17.5px;
        }
            
    & > span{
    display: inline-block;
    color: $color-014260;
    @include media-breakpoint-up(md) {
        font-size: 2.25rem;
        line-height: 1.75rem;
    }
    @include media-breakpoint-down(md) {
        font-size: 2rem;
        line-height: 1.25rem;
    }
    }
    }
    }
    }
}
&-blogHead{
& > h2{
    font-family: 'Khula-Light',sans-serif;
background-color:$color-f4782e;
color:$white;
border-radius: 40px;
text-align: center;
margin-left:auto;
margin-right:auto;

@include media-breakpoint-up(xl) {
font-size:2.25rem;
padding: 1.35rem 2rem 0.725rem;
max-width: 330px;
margin-bottom:2rem;
} 
@include media-breakpoint-between(md,xl) {
font-size:2.125rem;
padding: 1.25rem 1.85rem 0.625rem;
max-width: 310px;
margin-bottom:1.75rem;
} 
@include media-breakpoint-down(md) {
font-size:2rem;
padding: 1.15rem 1.6rem 0.525rem;
max-width: 290px;
margin-bottom:1.5rem;
}
& > span{
font-family: 'Khula-Bold',sans-serif;
}
}
}
}
}
&Content{
    &__sub{
        &.topSpacing{
    @include media-breakpoint-up(xl) {
    margin-top:4rem;
    } 
    @include media-breakpoint-between(md,xl) {
        margin-top:3rem;
    } 
    @include media-breakpoint-down(md) {
        margin-top:2rem;
    }  
    }
    & > .container{
        @include media-breakpoint-up(xl) {
        padding-left:4rem;
        padding-right:4rem;
        } 
        @include media-breakpoint-between(md,xl) {
            padding-left:2rem;
            padding-right:2rem;
        }   
        }
        &-text{
        & > p{
        @include media-breakpoint-up(xl) {
          font-size:17px;       
        } 
        @include media-breakpoint-down(xl) {
           font-size:16px; 
        } 
        & > strong{
        font-family: 'Khula-Bold',sans-serif;
        &.orange{
        color:$color-f4782e;
        }
        }        
        }
        & > h4{
        font-family:'Khula-SemiBold', sans-serif;
        margin-bottom:1rem;
        @include media-breakpoint-up(xl) {
        font-size:1.25rem;
        } 
        @include media-breakpoint-between(md,xl) {
        font-size:1.125rem;
        } 
        @include media-breakpoint-down(md) {
        font-size:1rem;
        } 
        & > strong{
         color:$color-f4782e;
        }        
        }
        & > img{
        max-width:100%;
        margin-bottom:1.5rem;
        }
      
        }
        &-head{
            position:relative;
            &-message{
                position: absolute;
                left: 0;
                top: 6px;
                width: 12px;
                height: 12px;
                background-color: $color-f4782e;
                border-radius: 60px;
                border-bottom-right-radius: 0;
            }
            & > h4{
                font-family:'Khula-SemiBold', sans-serif;
                padding-left:25px;
                margin-bottom:1rem;
                @include media-breakpoint-up(xl) {
                font-size:1.25rem;
                } 
                @include media-breakpoint-between(md,xl) {
                font-size:1.125rem;
                } 
                @include media-breakpoint-down(md) {
                font-size:1rem;
                }        
                }
            }
            &-left{
            display:flex;
            position:relative;
            }
            &-social{
            padding-right:1.5rem;
            color:#888888;

            &-like{
                margin-bottom:0.625rem;
            & > .count{
font-size:0.8rem;
text-align:center;
margin-bottom:0.125rem;
            }
            & > .like{
            a{
            display:inline-block;
            height:50px;
width:50px;
border:1px solid rgba(0,0,0,0.3);
position:relative;
border-radius: 50%;
&::after{
content:'';
position:absolute;
height:25px;
width:25px;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background-image:url(../images/blog/blog-share-icons.svg);
background-position:2px 0px;
}
            }
            }
            }
            &-icon{
            & > .label{
                font-size:0.85rem;
            }
            & > .social{
            border:1px solid rgba(0,0,0,0.3);
            border-radius:50%;
            height:35px;
            width:35px;
            display: block;
            position:relative;
            margin-top:0.5rem;
            &::after{
            content:'';
            position:absolute;
            height:16px;
            width:16px;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            background-image:url(../images/blog/blog-share-icons.svg);
            }
            &.fb{
            &::after{
            background-position: -86px -5px;
            }
            }
            &.twitter{
            &::after{
            background-position: -126px -4px;
            }
            }
            &.insta{
            &::after{
            background-position: -167px -5px;
            }
            }
            }
            }
            & > .navigation{
                position: relative;
                height:90px;
                margin-top:1.5rem;
& > .link{
background-color: $color-f4782e;
font-size:0.85rem;
text-transform: uppercase;
color:$white;
padding:0.35rem 0.8rem;
border-radius: 3px;
transform: rotate(-90deg);
display: inline-block;
position:absolute;
left: -29px;
top: 29px;
z-index:2;
&-drop{
padding-left: 32px;
background-color: $color-f4782e;;
display: none;
height:100%;
position: absolute;
z-index: 1;
    & > a{
    display:inline-block;
    color:#fff;
    text-decoration: none;
    font-size:0.95rem;
    padding:0.5rem 0.5rem;
    }
}

}
&:hover{
    .link-drop{
    display:inline-block;
    } 
}
            }
            }

            &-right{

            }
            &-looking{
                & > a{
            & > img{
            max-width:100%;
            }
        }
            }
            &-categories{
            margin-top:1.75rem;
            margin-bottom:1.75rem;
            &-search{
            margin-bottom:1.5rem;
            position: relative;
            & > input{
            width:100%;
            border:1px solid #dddddd;
            border-radius:3px;
            padding:0.65rem 1rem;
            outline: none;
            &:focus-visible{
            border:1px solid #dddddd;
            }
            }
            & > button{
            position:absolute;
            right: 0;
            height: 100%;
            width: 34px;
            border: 0;
            background:center left / 20px url(../images/blog/blog-search-icon.svg) no-repeat transparent;
            }
            }
            &-con{
            box-shadow:0px 0px 6px rgba(0,0,0,0.125);
            padding:1rem 1rem 0.5rem;
            & > h3{
            font-family:'Khula-Bold',sans-serif;
            font-size:1.25rem;
            color:$color-f4782e;
            }
            }
            &-lang{
            display:flex;
            flex-wrap:wrap;
            }
            &-col{
            max-width:50%;
            flex-basis:50%;
           
            &-child{
                margin-bottom: 0.5rem;
                margin-right:0.5rem;
            & > a{
            color:$gray-800;
            font-size:0.85rem;
            text-decoration: none;
            }
            & > span{
            color:$gray-600;
            font-size:0.85rem;
            display:inline-block;

            }
            }
        }
            }

&-subscribe{
background-color:$color-f4782e;
padding:1rem 1.5rem;
color:$white;
margin-top:1rem;
& > h2{
    font-family: 'Khula-Bold',sans-serif;
@include media-breakpoint-up(xl) {
    font-size: 1.5rem;
    margin-bottom:0.75rem;
} 
@include media-breakpoint-between(md,xl) {
    font-size: 1.25rem;
    margin-bottom:0.625rem;
} 
@include media-breakpoint-down(md) {
    font-size: 1rem;
    margin-bottom:0.5rem;
} 

}
&-form{
& > input[type='email']{
width:100%;
border:0;
background-color:$white;
padding:0.5rem 1rem;
border-radius:3px;
margin-bottom:1.125rem;
}
}
&-btn{
border: 0;
    border-radius: 7px;
    color: #ffffff;
    padding: 0.65rem 1rem;
    width: 200px;
    font-family: 'OpenSans-Bold',sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: left;
    background: center right 30px/26px url(../images/about/arrow-white.svg) no-repeat $black;
}
& > p{
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 0.85rem;
}
}
&-pagination{
    @include media-breakpoint-up(xl) {
    margin-top:2rem;
    padding-top:2rem;
    } 
    @include media-breakpoint-between(md,xl) {
    margin-top:1.75rem;
    padding-top:1.75rem;
    } 
    @include media-breakpoint-down(md) {
    margin-top:1.5rem;
    padding-top:1.5rem;
    } 
    border-top:1px solid #dddddd;  
    &List{
        padding: 0;
        display: flex;
        justify-content: center;
        list-style: none;
    & > li{
    @include media-breakpoint-up(md) {
    padding-left:0.35rem;    
    padding-right:0.35rem; 
    }
    @include media-breakpoint-down(md) {
        padding-left:0.2rem;    
        padding-right:0.2rem;       
    } 
    & > a{
    color:$gray-900;
    text-decoration: none;
    @include media-breakpoint-down(md) {
    font-size:0.85rem;
        }  
    &:hover{
    color:$color-f4782e;
    }
    } 
    &.list{
    & > a{
    border: 1px solid #ddd;
    border-radius: 2px;
    @include media-breakpoint-up(md) {
    padding: 0 0.4rem;
    }
    @include media-breakpoint-down(md) {
    padding: 0 0.3rem;
    }       
    }
    }  
    }
    }  
    }
    }  
}
}