.confidential{
&__sub{

&.topSpacing{
    @include media-breakpoint-up(xl) {
margin-top:3.5rem;
    } 
    @include media-breakpoint-between(md,xl) {
        margin-top:2.5rem;
    } 
    @include media-breakpoint-down(md) {
        margin-top:1.5rem;
    }     
}
& > .container{
    @include media-breakpoint-up(xl) {
        padding-left: 4rem;
        padding-right: 4rem;
    } 
    @include media-breakpoint-between(md,xl) {
        padding-left: 2rem;
        padding-right: 2rem;
    }             
}
&-con{
background-color: $white;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
@include media-breakpoint-up(md) {
height:100%;
}
&.bottom-spacing{
    @include media-breakpoint-down(md) {
    margin-bottom:1rem;
        }  
}
&:hover{
.confidential__sub-head::after{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.confidential__sub-content{
    transform: scale(1.033);
}
}
}
&-head{
    position: relative;
&.orange{
background-color: #fcc6c6;
&::after{
    content:'';
    position: absolute;
    height: 0;
    width: 0;
    z-index: 1;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    transition: transform 0.2s ease-in-out;
    @include media-breakpoint-up(xl) {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 38px solid #fcc6c6;
        bottom: -28px;
        left: 32px;
    } 
    @include media-breakpoint-between(md,xl) {
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 34px solid #fcc6c6;
        bottom: -24px;
        left: 30px;
    } 
    @include media-breakpoint-down(md) {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 32px solid #fcc6c6;
        bottom: -23px;
        left: 29px;
    }     
}
}
&.blue{
background-color: #c4d4f9;
&::after{
    content:'';
    position: absolute;
    height: 0;
    width: 0;
    z-index: 1;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    transition: transform 0.2s ease-in-out;
    @include media-breakpoint-up(xl) {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 38px solid #c4d4f9;
        bottom: -28px;
        left: 32px;
    } 
    @include media-breakpoint-between(md,xl) {
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 34px solid #c4d4f9;
        bottom: -24px;
        left: 30px;
    } 
    @include media-breakpoint-down(md) {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 32px solid #c4d4f9;
        bottom: -23px;
        left: 29px;
    }     
}
}
&.green{
background-color: #a8fac2;
&::after{
    content:'';
    position: absolute;
    height: 0;
    width: 0;
    z-index: 1;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    transition: transform 0.2s ease-in-out;
    @include media-breakpoint-up(xl) {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 38px solid #a8fac2;
        bottom: -28px;
        left: 32px;
    } 
    @include media-breakpoint-between(md,xl) {
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 34px solid #a8fac2;
        bottom: -24px;
        left: 30px;
    } 
    @include media-breakpoint-down(md) {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 32px solid #a8fac2;
        bottom: -23px;
        left: 29px;
    }     
}
}
@include media-breakpoint-up(xl) {
    padding:1.35rem 1.25rem 0.95rem;
} 
@include media-breakpoint-down(xl) {
  padding:1.15rem 1.05rem 0.75rem;
} 

& > h3{
margin-bottom: 0;
font-family:'Khula-Bold',sans-serif;
@include media-breakpoint-up(xl) {
    line-height: 1.4rem;
    font-size: 1.4rem;
} 
@include media-breakpoint-between(md,xl) {
    line-height: 1.35rem;
    font-size: 1.35rem;
} 
@include media-breakpoint-down(md) {
    line-height: 1.25rem;
    font-size: 1.25rem;
} 
}
& > .icon{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 15px;
    top: 5px;
    background-image: url(../images/mission-icon.svg);
    background-repeat: no-repeat;



    @include media-breakpoint-up(xl) {
        background-size: 900px;
        background-position-y: -39px;
        background-position-x: -680px;
    }
    @include media-breakpoint-down(xl) {
        background-size: 800px;
        background-position-y: -36px;
        background-position-x: -598px;
    }


}
}
&-content{
    font-family: 'Khula-SemiBold',sans-serif;
    transition: transform 0.2s ease-in-out;
    @include media-breakpoint-up(xl) {
        padding:2rem 1.25rem 0.95rem;
    } 
    @include media-breakpoint-down(xl) {
      padding:1.8rem 1.05rem 0.75rem;
      font-size:15px;
    }
& > ul{
margin-bottom:0;
@include media-breakpoint-down(sm) {
padding-left:0;
}
}
}
}


&Driven{
&__sub{
    @include media-breakpoint-up(xl) {
        margin-top:5rem;
            } 
            @include media-breakpoint-between(md,xl) {
                margin-top:4rem;
            } 
            @include media-breakpoint-down(md) {
                margin-top:3rem;
            } 
            & > .container{
                @include media-breakpoint-up(xl) {
                    padding-left: 4rem;
                    padding-right: 4rem;
                } 
                @include media-breakpoint-between(md,xl) {
                    padding-left: 2rem;
                    padding-right: 2rem;
                }             
            }  
            &-con{
            & > h3{
            font-family: 'Khula-Bold',sans-serif;
            @include media-breakpoint-up(xl) {
font-size:1.65rem;
            } 
            @include media-breakpoint-between(md,xl) {
font-size:1.5rem;          
            } 
            @include media-breakpoint-down(md) {
                font-size:1.35rem;   
            }             
            }
            }  
            &-link{
                & > a{
                display: inline-block;
    text-decoration: none;
    font-family: "OpenSans-Bold",sans-serif;
    color: $black;
    border: 3px solid $black;
    border-radius: 28px;
    transition: all 0.3s ease-in-out;
    background: center right 15px/25px url(../images/about/arrow-black.svg) no-repeat;
    @include media-breakpoint-up(xl) {
        padding: 0.75rem 3rem 0.75rem 1.25rem;
        margin-top:0.75rem;
    } 
    @include media-breakpoint-down(xl) {
        padding: 0.65rem 2.75rem 0.65rem 1rem;
        margin-top:0.6rem;
    } 
    &:hover {
        background-color: $black;
        background-image: url(../images/about/arrow-white.svg);
        color: $white;
    }        
}
            }
}
}

}
