.technology{
&__sub{
&.topSpacing{
@include media-breakpoint-up(xl) {
margin-top:4rem;
margin-bottom:4rem;
} 
@include media-breakpoint-between(md,xl) {
margin-top:3rem;
margin-bottom:3rem;
} 
@include media-breakpoint-down(md) {
margin-top:2rem;
margin-bottom:2rem;
}     
}
& > .container{
    @include media-breakpoint-up(xl) {
     max-width:1100px;
        }   
}
&-head{
& > .topHead{
display:inline-block;
font-family: 'Khula-Bold',sans-serif;
font-style: italic;
padding:0rem 2.25rem;
position: relative;
@include media-breakpoint-up(xl) {
margin-bottom:0.5rem;
} 
@include media-breakpoint-between(md,xl) {
margin-bottom:0.35rem;
} 
@include media-breakpoint-down(md) {
margin-bottom:0.15rem;
} 
&::after{
content:'';
position:absolute;
height:3px;
width:18px;
border-radius: 2px;
left:0px;
top:10px;
background-color:$black;
}
&::before{
content:'';
position:absolute;
height:3px;
width:18px;
border-radius: 2px;
right:0px;
top:10px;
background-color:$black;
}
}
& > h2{
font-family: 'Khula-Bold',sans-serif;
@include media-breakpoint-up(xl) {
font-size:2.5rem;
margin-bottom:1.75rem;
} 
@include media-breakpoint-between(md,xl) {
font-size:2.125rem;
margin-bottom:1.5rem;
} 
@include media-breakpoint-down(md) {
font-size:1.75rem;
margin-bottom:1.25rem;
} 
}
}
&-tabs{
    .nav-link{
        color:$black;
        font-family: 'Khula-Bold',sans-serif;
        position: relative;
        @include media-breakpoint-up(xl) {
        font-size:1.25rem;
        } 
        @include media-breakpoint-between(md,xl) {
        font-size:1.125rem;
        } 
        @include media-breakpoint-between(sm,md) {
        font-size:1rem;
        }   
        @include media-breakpoint-down(sm) {
            font-size:0.85rem;
            padding: 0.5rem;
        }       
        }
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
color:$color-f4782e;
border:0;
border-bottom:4px solid $color-f4782e;
}
.tab-content{
@include media-breakpoint-up(xl) {
margin-top:2rem;
} 
@include media-breakpoint-between(md,xl) {
margin-top:1.75rem;
} 
@include media-breakpoint-down(md) {
margin-top:1.5rem;
}     
}
}
&-child{
text-align: center;
& > a{
display:inline-block;
text-decoration: none;
& > img{
max-width:50px;
}
& > h4{
color:$black;
@include media-breakpoint-up(xl) {
    font-size:16px;
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
} 
@include media-breakpoint-between(md,xl) {
    font-size:15px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
} 
@include media-breakpoint-down(md) {
    font-size:14px;
    margin-top: 0.375rem;
    margin-bottom: 0.75rem;
} 
}
}
}
}
}