/* Color variable started */
$color-f4782e: #f4782e;
$color-014260: #014260;
$color-0373a7: #0373a7;
$color-ffffff: #ffffff;
$color-e3e3e3: #e3e3e3;
$color-feddc8: #feddc8;
$color-f0f0f0:#f0f0f0;

/* Color variable ended */



